@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
  padding-top: 40px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  background-color: black;
}


.menu {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.menu p {
  color: white;
}

ul {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

ul a {
  color: white;
  text-decoration: none;
}

ul a:hover {
  background-color: white;
  color: black;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.noticias {
  display: flex;
  flex-wrap: wrap;
}

.noticia {
  width: 350px;
  height: 150px;
  background-color: #C4C4C4;
  margin-right: 20px;
}

.noticia-e-titulo p {
  margin-top: 10px;
}

.noticia-e-titulo {
  margin-top: 30px;
}

.propaganda-e-titulo {
 width: 360px;
}

.propaganda {
  border: solid black 3px;
  width: 350px;
  height: 400px;
}

.propaganda-e-titulo p {
  margin-top: 10px;
  text-align: center;
}

.produtos {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-left: 20px;
}

.produtos-e-propaganda {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
}

.produto {
  width: 100px;
  height: 70px;
  background-color: #C4C4C4;
}

.produto-e-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.produto-e-titulo p {
  margin-left: 10px;
}