@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  max-width: 1200px;
}

header, footer {
  background-color: red;
  height: 100px;
  /* padding: 10px 0; */
}

header {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

ul a {
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

ul a:hover {
  background-color: white;
  color: black;
}

li {
  list-style-type: none;
}

.logo {
  display: flex;
  height: 100px;
  align-items: center;
}

.logo img {
  background-color: white;
  padding: 10px;
  border-radius: 100%;
  /* align-self: center; */

}

.logo small {
  margin-left: 20px;
  color: white;
}

.sobre {
  text-align: center;
  padding: 25px;
}

.sobre h1 {
  color: #666;
}

.sobre h1, .sobre iframe {
  padding-bottom: 10px;
}

.sobre p {
  text-align: justify;
  padding-bottom: 10px;
  color: #666;
}

.sobre a {
  color: #666;
}

footer ul a, footer li, footer address {
  color: white;
}

footer address {
  padding-top: 10px;
}

footer {
  padding: 20px 10px;
}
