.container {
  display: flex;
  justify-content: center;
}

.container > div {
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
}

iframe {
  text-align: center;
  align-self: center;
}

.container > div > p {
  margin: 0;
}